__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
.env
.venv
env/
venv/
ENV/
data/
*.egg-info
dist/
build/
.idea/
.vscode/
*.log
coverage/
htmlcov/
.pytest_cache/
.tox/
.mypy_cache/
.pyre/
core.*
config.json
experiment_data/experiment_results
*.json